<footer class="mainFooter col-md-12">
    <div class="footer-socials-div">

        <span class="socials-inst-div">
            <a href="#"><img src="~/img/iconfinder_Popular_Social_Media-08_2329265.png" /></a>
        </span>

        <span class="socials-vk-div">
            <a href="#"><img src="~/img/iconfinder_vk_834714.png"/></a>
        </span>

    </div>
</footer>
