
<div id="popup" class="popup">
        <div class="popup-body">
            <div class="popub-content">
                <a asp-action="IndexBooks" asp-controller="Book" class="popup-close"><i class="fas fa-times"></i></a>
                <div class="popup-title">
                    Заказ оформлен
                </div>
                <div class="popup-text">
                    Что бы посмотреть подробности прейдите в раздел <a asp-action='IndexOrders' asp-controller='Order'>заказы</a>
                </div>
            </div>
        </div>
    </div>
