@model CategoryCreateModel 

<link rel="stylesheet" href="~/css/categoryStyle.css" />

<div class="col-md-12">
    <form asp-action="AddCategory" asp-controller="Category" method="post" class="addCategory-form">
        <div class="col-md-6" style="margin: 0 auto; padding-top: 50px">
            <label asp-for="Name" class="col-form-label">Название</label>
            <div>
                @Html.ValidationMessageFor(c => c.Name)
            </div>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="col text-center" style="margin-top: 50px;">
            <input type="submit" class="btn btn-primary" value="Создать" />
        </div>
    </form>
</div>
