@model IndexViewModel<CategoryViewModel>

<div>
    @if (Model?.Objects != null && Model.Objects.Count() != 0)
    {
        <div>
            @foreach (var category in Model.Objects)
            {
                <div>
                    <div class="indexCategories-categoryName">
                        <a asp-action="IndexByCategory" asp-controller="Book" asp-route-categoryId="@category.Id">@category.Name</a>
                    </div>                    
                </div>
            }
        </div>
    }
    else
    {
        <div class="indexCategories-noneCategory">
            <h3>Категории отсутсвуют</h3>
        </div>
    }    
    <div class="indexCategories-pagination-div">
        <div>
            @if (Model.PageInfo.PageNumber > 1)
            {
                <a asp-action="IndexCategories" asp-controller="Category" asp-route-pageNum="@(Model.PageInfo.PageNumber - 1)">Назад</a>
            }
        </div>
        <div>
            @if (Model.PageInfo.TotalPage > Model.PageInfo.PageNumber)
            {
                <a asp-action="IndexCategories" asp-controller="Category" asp-route-pageNum="@(Model.PageInfo.PageNumber + 1)">Вперед</a>
            }
        </div>
    </div>
</div>
