@model BasketViewModel

<div class="col-md-12">
    <div class="indexBasket-main">
        @if (Model.BookIndexModel.Objects != null && Model.BookIndexModel.Objects.Count() != 0)
        {
            <div class="indexBooks-div col-md-12">
                @foreach (var book in Model.BookIndexModel.Objects)
                {
                    @await Html.PartialAsync("../Shared/BookPartial", new ValueTuple<BookViewModel, bool>(book, false))
                }
            </div>
    
            <div class="buyRemoveAll-baasket-div">
                <div class="basketIndex-buyAll-div">
                    <form asp-action="AddOrder" asp-controller="Order" method="post">
                        @for (int i = 0; i < Model.BookIndexModel.Objects.Count(); i++)
                        {
                            <input name="booksIds[@i]" value="@Model.BookIndexModel.Objects[i].Id" type="hidden" />
                        }
                        <div>
                            <input type="submit" value="Купить все @Model.TotalPrice.ToString("c")" class="basketIndex-buyAll-dutton button" />
                        </div>
                    </form>
                </div>
    
                <div class="basketIndex-removeAll-div">
                    <form asp-action="RemoveAllBasketBooks" asp-controller="Basket" method="post">
                        <input type="submit" value="Очистить корзину" class="button" />
                    </form>
                </div>
            </div>
    
            <div>
                @if (Model.BookIndexModel.PageInfo.TotalPage != Model.BookIndexModel.PageInfo.PageNumber)
                {
                    @Html.ActionLink("Вперед", "IndexBasket", "Basket", new { pageNum = (Model.BookIndexModel.PageInfo.PageNumber + 1) })
                }
    
                @if (Model.BookIndexModel.PageInfo.PageNumber > 1)
                {
                    @Html.ActionLink("Назад", "IndexBasket", "Basket", new { pageNum = (Model.BookIndexModel.PageInfo.PageNumber - 1) })
                }
            </div>
        }
        else
        {
            <div class="basketEmpty-text-div">
                <h3>У вас нет товаров в корзине</h3>
            </div>
        }
    </div>
</div>
