@model RoleCreateModel 

<div class="addRole-main">
    <div class="addRole-form">
        <form asp-action="AddRole" asp-controller="Role" method="post">
            <div>
                <label asp-for="@Model.Name">Названия:</label>
                <input class="addRole-inputName" asp-for="@Model.Name" />
            </div>
            <div class="addRole-submit">
                <input value="Создать" type="submit" class="button" />
            </div>
        </form>
    </div>
    <div class="indexRole-link">
        <a asp-action="IndexRole" asp-controller="Role">Просмотреть роли</a>
    </div>
</div>