
<div class="addRole-main">
    <div class="addRole-form">
        <form asp-action="Add" asp-controller="Role" method="post">
            <div>
                <label for="name">Названия:</label>
                <input class="addRole-inputName" name="roleName" />
            </div>
            <div class="addRole-submit">
                <input value="Создать" type="submit" class="button" />
            </div>
        </form>
    </div>
    <a asp-action="Index" asp-controller="Role">Просмотреть роли</a>
</div>