.basketEmpty-text-div {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}

    .basketEmpty-text-div h3 {
        padding-top: 300px;
    }

.buyRemoveAll-baasket-div {
    position: relative;
    margin-top: 100px;
    left: 20px;
    padding: 20px;
}

.basketIndex-buyAll-div {
    position: absolute;
}

.basketIndex-removeAll-div {
    margin-left: 250px;
}

    .basketIndex-removeAll-div input {
        padding: 10px 25px;
    }

.basketIndex-buyAll-dutton {
    position: relative;
    padding: 10px 25px;
}

.basketIndex-buy {
    position: relative;
    left: 20px;
}

.basketIndex-buy-dutton {
    padding: 1px 15px;
}

.basketIndex-removeBook-dutton {
    position: absolute;
    padding: 1px 15px;
}

.indexBasket-lowPanel {
    display: flex;
    top: 20px;
    position: relative;
    justify-content: flex-start;
}

.indexBooks-BasketbookPrice-div {
    position: relative;
}

.indexBooks-BasketbookPrice-div {
    position: relative;
    left: 50px;
}
