@model BookListViewModel
@{ 
    ViewBag.SubmitAction = "IndexBooksAdmin";
}

@await Html.PartialAsync("SearchPartial", ViewBag.FilterModel as BooksStore.Service.Models.BookFilterModel)

@if (Model.BookIndexModel.Objects != null && Model.BookIndexModel.Objects.Count() != 0)
{
    <div class="row col-md-10">
        @if (Model.BookIndexModel.Objects != null && Model.BookIndexModel.Objects.Count() != 0)
        {
            <div class="indexBooks-main col-md-12">
                <div class="indexBooks-div">
                    @foreach (var book in Model.BookIndexModel.Objects)
                    {
                        (BookViewModel Book, bool IsAdmin, bool IsBasket) bookInfo = (Book: book, IsAdmin: true, IsBasket: false);
                        @await Html.PartialAsync("../Shared/BookPartial", bookInfo)
                    }
                </div>
                <div class="indexBooks-pagination-div">
                    <div>
                        @if (Model.BookIndexModel.PageInfo.PageNumber > 1)
                        {
                            <a asp-action="IndexBooksAdmin" asp-controller="Book" asp-route-pageNum="@(Model.BookIndexModel.PageInfo.PageNumber - 1)">Назад</a>
                        }
                    </div>
                    <div>
                        @if (Model.BookIndexModel.PageInfo.TotalPage > Model.BookIndexModel.PageInfo.PageNumber)
                        {
                            <a asp-action="IndexBooksAdmin" asp-controller="Book" asp-route-pageNum="@(Model.BookIndexModel.PageInfo.PageNumber + 1)">Вперед</a>
                        }
                    </div>
                </div>
            </div>
         }
    </div>
}