@model BookListViewModel

@await Html.PartialAsync("SearchPartial")

@if (Model.BookIndexModel.Objects != null && Model.BookIndexModel.Objects.Count() != 0)
{
    <div class="row col-md-10">
        @if (Model.BookIndexModel.Objects != null && Model.BookIndexModel.Objects.Count() != 0)
        {
            <div class="indexBooks-main col-md-12">
                <div class="indexBooks-div">
                    @foreach (var book in Model.BookIndexModel.Objects)
                    {
                        @await Html.PartialAsync("../Shared/BookPartial", new ValueTuple<BookViewModel, bool>(book, true))
                    }
                </div>
                <div class="indexBooks-pagination-div">
                    <div>
                        @if (Model.BookIndexModel.PageInfo.PageNumber > 1)
                        {
                <a asp-action="IndexBooks" asp-controller="Book" asp-route-pageNum="@(Model.BookIndexModel.PageInfo.PageNumber - 1)">Назад</a>}
                    </div>
                    <div>
                        @if (Model.BookIndexModel.PageInfo.TotalPage > Model.BookIndexModel.PageInfo.PageNumber)
                        {
                <a asp-action="IndexBooks" asp-controller="Book" asp-route-pageNum="@(Model.BookIndexModel.PageInfo.PageNumber + 1)">Вперед</a>}
                    </div>
                </div>
            </div>
         }
    </div>
}