@model BookListViewModel

@if (Model.BookIndexModel.Objects != null && Model.BookIndexModel.Objects.Count() != 0)
{
    @await Html.PartialAsync("IndexBooks", new BookListViewModel() { BookIndexModel = Model.BookIndexModel })
}
else
{
    <div class="noBookByCategory-div"><h3>Нет книг по данной категории</h3>></div>
}
